<div id="login" class="bg-image shadow-2-strong">
  <div class="mask d-flex align-items-center h-100" style=" background-image: url(src/assets/img/login-register.jpg);">
    <div class="container">
      <div class="row justify-content-center align-items-center minh-100">
        <div class="col-md-4 ufps-center-block">
          <div class="card">
            <div class="card-header ufps-text-center bg-danger">
              <h1 *ngIf="logGraduado && !logDirector && !logEmpresa" class="text-white"> GRADUADO </h1>
              <h1 *ngIf="!logGraduado && logDirector && !logEmpresa" class="text-white"> DR PROGRAMA </h1>
              <h1 *ngIf="!logGraduado && !logDirector && logEmpresa" class="text-white"> EMPRESA </h1>
            </div>
            <div class="card-body">
              <form class="form p-t-20"
                    [formGroup]="loginFrom"
                    (ngSubmit)="login()"
              >
                <div *ngIf="logEmpresa && !logGraduado && !logDirector" class="form-group">
                  <div class="input-group">
                    <input name="login"
                           type="text" class="form-control" id="email"
                           placeholder="Email"
                           formControlName="email"
                    >
                    <div class="input-group-addon"><i class="ti-email"></i></div>
                  </div>
                  <small
                    *ngIf="loginFrom.get('email').touched && loginFrom.get('email').hasError('required')"
                    class="form-text text-danger">{{error.message.CAMPO_REQUERIDO}}
                  </small>
                  <small
                    *ngIf="loginFrom.get('email').touched && loginFrom.get('email').hasError('pattern')"
                    class="form-text text-danger">{{error.message.EMAIL_VALIDO}}
                  </small>
                </div>
                <div *ngIf="!logEmpresa && logGraduado || logDirector" class="form-group">
                  <div class="input-group">
                    <input
                           name="login"
                           type="text" class="form-control"
                           id="cedula" placeholder="Cedula"
                           formControlName="cedula">
                    <div class="input-group-addon"><i class="ti-user"></i></div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input
                           name="clave"
                           type="password" class="form-control"
                           id="contraseña" placeholder="Contraseña"
                           formControlName="contrasena">
                    <div class="input-group-addon"><i class="ti-lock"></i></div>
                  </div>
                </div>
                <div class="text-left" >
                  <button (click)='login()'type="submit" class="ufps-btn ufps-btn btn-block">Iniciar Sesión</button>
                </div>
                <div class="form-group ufps-row">
                  <div class="col-md-12">
                    <div class="checkbox checkbox-info pull-left p-t-0">
                      <a routerLink="/recuperarclave" class="text-dark"> ¿Olvidaste tu Clave?</a>
                    </div>
                    <a routerLink="/recuperarusuario" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Cambio de
                      correo</a></div>
                </div>

                <hr>
                <div class="col-lg-12 col-xlg-6 m-b-30">
                  <button *ngIf="!logGraduado " (click)="cambiarLog(true, false, false)" type="button"  class="btn btn-lg btn-outline-danger float-left"><i class=" icon-user-following"></i> Graduado </button>
                  <button *ngIf="!logEmpresa" (click)="cambiarLog(false, true, false)" type="button" class="btn btn-lg btn-outline-danger" [ngClass]="{ 'float-right':  (logGraduado === false && logDirector === true), 'float-right': (logGraduado === false && logEmpresa === false), 'float-right':  (logGraduado === false && logEmpresa === false && logDirector === true)}"><i class="fa fa-building"></i> Empresa</button>
                  <button *ngIf="!logDirector" (click)="cambiarLog(false, false, true)"  type="button" class="btn btn-lg btn-outline-danger float-right" [ngClass]="{'float-right': (logGraduado === true && logDirector === false), 'float-right': (logEmpresa === false && logDirector === false), 'float-right': (logGraduado === false && logDirector === false)  }"><i class=" icon-user-following"></i> Dr. Programa </button>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
