<div id="main-wrapper">
  <app-headerlogeado></app-headerlogeado>
 <app-sidebaradm></app-sidebaradm>
  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
