<div class="card">
  <div class="card-body p-b-0">
    <div class="form-body">
      <h3 class="card-title">Reportes</h3>
      <hr class="m-t-0 m-b-40">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group row">
            <label class="control-label col-md-2"><h5>Tipo de Reporte</h5></label>
            <div class="col-md-10">
              <select class="form-control custom-select" style="font-size: 14px"
                      data-placeholder="Choose a Category"
                      tabindex="1">
                <option value="1">Caracterización por sexo de los Graduados</option>
                <option value="2">Caracterización por edad de los Graduados</option>
                <option value="3">Caracterización por modalidad de trabajo de grado de los Graduados</option>
                <option value="4">Posicionamiento Laboral</option>
                <option value="5">Cantidad de Graduados por año</option>
                <option value="6">Cantidad de Graduados</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-left col-md-3"><h5>Fecha Inicio</h5></label>
            <div class="col-md-9">
              <input type="date" class="form-control" placeholder="dd/mm/yyyy">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="control-label text-left col-md-3 float-right"><h5>Fecha Fin</h5></label>
            <div class="col-md-9">
              <input type="date" class="form-control" placeholder="dd/mm/yyyy">
            </div>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="ufps-btn ufps-btn-green float-right">
         Generar Reporte
        </button>
      </div>
      </div>
    </div>
  </div>



