<div class="card">
  <div class="card-body p-b-0">
    <div class="form-body">
      <h2 class="card-title">Opciones</h2>
      <div class="form-actions">
        <button data-toggle="modal" data-target="#editar-modal" class="ufps-btn ufps-btn-green float-right">
          Agregar Opción
        </button>
      </div>
      <hr class="m-t-0 m-b-30">
      <br>
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table color-table muted-table">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>ID Pregunta</th>
                  <th>Valor</th>
                  <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>1</td>
                  <td>Nigam</td>
                  <td>Eichmann</td>
                  <td class="text-nowrap">
                    <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil-alt text-inverse m-r-10"></i> </a>
                    <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="ti ti-close text-danger"></i> </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editar-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Agregar Opción</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <form action="#">
          <div class="form-group">
            <label class="control-label">Valor:</label>
            <input type="text" id="edit-titulo" class="form-control" placeholder="">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="ufps-btn" data-dismiss="modal">Cancelar</button>
        <button type="button" class="ufps-btn ufps-btn-green waves-effect waves-light">Aceptar</button>
      </div>
    </div>
  </div>
</div>


