<div id="intro" class="bg-image shadow-2-strong">
  <div class="mask d-flex align-items-center h-100">
    <div class="container">
      <div class="row justify-content-center align-items-center minh-100">
        <div class="col-sm-5">
          <div class="card">
            <div class="card-header ufps-text-center bg-danger">
              <h1 class="text-white"> REGISTRO DE EMPRESA </h1>
            </div>



            <form autocomplete="off"
                  [formGroup]="registroEmpresaFrom"
                  (ngSubmit)="siguientePaso()">
              <div class="card-body">
                <div class="form-group">
                  <label for="nit" class="lead">Nit<span class="text-danger">*</span></label>
                  <input type="text" class="form-control form-control-lg" id="nit"
                         formControlName="nit"
                  >
                  <small
                    *ngIf="registroEmpresaFrom.get('nit').touched && registroEmpresaFrom.get('nit').hasError('required')"
                    class="form-text text-danger">{{error.message.CAMPO_REQUERIDO}}
                  </small>
                </div>
                <div class="form-group">
                  <label for="sector" class="lead">Sector<span class="text-danger">*</span></label>
                  <input type="text" class="form-control form-control-lg" id="sector"
                         formControlName="sector"
                  >
                  <small
                    *ngIf="registroEmpresaFrom.get('sector').touched && registroEmpresaFrom.get('sector').hasError('required')"
                     class="form-text text-danger">{{error.message.CAMPO_REQUERIDO}}
                  </small>
                </div>
                <div class="form-group">
                  <label for="razonsocial" class="lead">Razón Social<span class="text-danger">*</span></label>
                  <input type="text" class="form-control form-control-lg" id="razonsocial"
                         formControlName="razonsocial"
                  >
                  <small
                    *ngIf="registroEmpresaFrom.get('razonsocial').touched && registroEmpresaFrom.get('razonsocial').hasError('required')"
                     class="form-text text-danger">{{error.message.CAMPO_REQUERIDO}}
                  </small>
                </div>
                <div class="form-group">
                  <label for="ubicacion" class="lead">Ubicación<span class="text-danger">*</span></label>
                  <input type="text" class="form-control form-control-lg" id="ubicacion"
                         formControlName="ubicacion"
                  >
                  <small
                    *ngIf="registroEmpresaFrom.get('ubicacion').touched && registroEmpresaFrom.get('ubicacion').hasError('required')"
                     class="form-text text-danger">{{error.message.CAMPO_REQUERIDO}}
                  </small>
                </div>
                <div class="form-group">
                  <label for="email" class="lead">Email<span class="text-danger">*</span></label>
                  <input type="email" class="form-control form-control-lg" id="email"
                         formControlName="email"
                  >
                  <small
                    *ngIf="registroEmpresaFrom.get('email').touched && registroEmpresaFrom.get('email').hasError('required')"
                     class="form-text text-danger">{{error.message.CAMPO_REQUERIDO}}
                  </small>
                  <small
                    *ngIf="registroEmpresaFrom.get('email').touched && registroEmpresaFrom.get('email').hasError('pattern')"
                    class="form-text text-danger">{{error.message.EMAIL_VALIDO}}
                  </small>
                </div>
                <div class="form-group">
                  <label for="telefono" class="lead">Telefono<span class="text-danger">*</span></label>
                  <input type="text" class="form-control form-control-lg" id="telefono"
                         formControlName="telefono"
                  >
                  <small
                    *ngIf="registroEmpresaFrom.get('telefono').touched && registroEmpresaFrom.get('telefono').hasError('required')"
                     class="form-text text-danger">{{error.message.CAMPO_REQUERIDO}}
                  </small>
                  <small
                    *ngIf="registroEmpresaFrom.get('telefono').touched && registroEmpresaFrom.get('telefono').hasError('pattern')"
                    class="form-text text-danger">{{error.message.SOLO_NUMEROS}}
                  </small>
                  <small
                    *ngIf="registroEmpresaFrom.get('telefono').touched && registroEmpresaFrom.get('telefono').hasError('minlength')"
                    class="form-text text-danger">{{error.message.TAMA_MINIMO}}7
                  </small>
                </div>
                <div class="d-grid gap-2">
                  <button [disabled]="!registroEmpresaFrom.valid" type="submit" class="btn btn-danger btn-lg btn-block">Siguiente</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


