<div class="tab-pane active " role="tabpanel">
  <div class="p-20">
    <div class="row">
      <div class="col-md-12 p-20">
        <ul class="list-unstyled">
          <li class="media">
            <div class="media-body">
              <div class="d-flex flex-row comment-row">
                <div class="comment-text w-100">
                  <div class="comment-footer">
                    <h2>Ceiba Software</h2>
                  </div>
                  <h5><p class="m-b-5 m-t-10">Email: YiselPinedasuecun@gmail.com</p></h5>
                  <h5><p>Revisar que mas información se va a gregar acá</p></h5>
                </div>
              </div>
              <div class="form-actions float-right">
                <button class="ufps-btn">Rechazar</button>
                <button class="ufps-btn ufps-btn-green ">Aceptar</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
