<aside class="left-sidebar bg-light">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav bg-light">
      <li class="user-profile">
        <a class="bg-light" aria-expanded="false"><img src="./assets/img/users/profile.png" alt="user"/>
          <span class="hide-menu">Ceiba Software s.a.s </span></a>
        <ul aria-expanded="false" class="collapse">
        </ul>
      </li>
      <hr>
      <ul id="sidebarnav" class="">
        <li> <a class=" waves-effect waves-dark" routerLink="./editarperfil" routerLinkActive="active-link"
                aria-expanded="false"><i class="mdi mdi-tooltip-edit"></i>
          <span class="hide-menu">Editar Perfil</span></a>
        </li>
        <li> <a class=" waves-effect waves-dark" routerLink="./ofertalabempr" routerLinkActive="active-link"
                aria-expanded="false"><i class="mdi mdi-briefcase"></i>
          <span class="hide-menu">Ofertas Laborales</span></a>
        </li>
        <li><a class=" waves-effect waves-dark" routerLink="./encuesta" routerLinkActive="active-link" aria-expanded="false"><i
          class="mdi mdi-file-document-box"></i>
          <span class="hide-menu">Encuestas</span></a>
        </li>
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-left "><a class="waves-effect waves-dark" routerLink="./notificaciones" routerLinkActive="active-link"
                                                   aria-expanded="false"><i class="mdi mdi-bell-ring mdi-18px"></i><span class="hide-menu"> Notificaciones Recientes</span></a></h4>
              <ul class="list-unstyled hide-menu ">
                <li class="media">
                  <div class="media-body">
                    <div class="d-flex flex-row comment-row">
                      <p class="m-b-2 m-t-2">Oferta de dos Postgrados en el area ti</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>

