<div id="intro" class="bg-image shadow-2-strong">
  <div class="mask d-flex align-items-center h-100" >
    <div class="container">
      <div class="row justify-content-center align-items-center minh-100">
        <div class="col-sm-5">
          <div class="card">
            <div class="card-header ufps-text-center bg-danger">
              <h1  *ngIf="!vieneEmpresa" class="text-white"> REGISTRO DE GRADUADO </h1>
              <h1 *ngIf="vieneEmpresa" class="text-white"> REGISTRO DE CONTACTO EMPRESA </h1>
            </div>
            <div class="card-body">
              <form
                autocomplete="off"
                [formGroup]="registroGraduadoFrom"
                (ngSubmit)="registrarGraduado()"
              >
                <div class="form-group">
                  <label class="lead ">Nombre <span class="text-danger">*</span></label>
                  <input class="form-control form-control-lg"
                         type="text"
                         id="nombre"
                         formControlName="nombre"
                  >
                  <small
                    *ngIf="registroGraduadoFrom.get('nombre').touched && registroGraduadoFrom.get('nombre').hasError('required')"
                    id="emailHelp" class="form-text text-danger">{{error.message.CAMPO_REQUERIDO}}
                  </small>
                </div>
                <div class="form-group">
                  <label for="apellido" class="lead">Apellidos <span class="text-danger">*</span></label>
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    id="apellido"
                    formControlName="apellido"
                  >
                  <small
                    *ngIf="registroGraduadoFrom.get('apellido').touched && registroGraduadoFrom.get('apellido').hasError('required')"
                    class="form-text text-danger">{{error.message.CAMPO_REQUERIDO}}
                  </small>
                </div>
                <div class="form-group">
                  <label for="cedula" class="lead">Cedula <span class="text-danger">*</span></label>
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    id="cedula"
                    formControlName="cedula">
                  <small
                    *ngIf="registroGraduadoFrom.get('cedula').touched && registroGraduadoFrom.get('cedula').hasError('required')"
                    class="form-text text-danger">{{error.message.CAMPO_REQUERIDO}}
                  </small>
                </div>
                <div *ngIf="!vieneEmpresa" class="form-group">
                  <label for="codigo" class=" lead">Codigo<span class="text-danger">*</span></label>
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    id="codigo"
                    formControlName="codigo">
                  <small
                    *ngIf="registroGraduadoFrom.get('codigo').touched && registroGraduadoFrom.get('codigo').hasError('required')"
                    class="form-text text-danger">{{error.message.CAMPO_REQUERIDO}}
                  </small>
                </div>

                <div *ngIf="!vieneEmpresa" class="form-group">
                  <label for="email" class="lead">Email<span class="text-danger">*</span></label>
                  <input
                    type="email"
                    class="form-control form-control-lg"
                    id="email"
                    formControlName="email">
                  <small
                    *ngIf="registroGraduadoFrom.get('email').touched && registroGraduadoFrom.get('email').hasError('required')"
                    class="form-text text-danger">{{error.message.CAMPO_REQUERIDO}}
                  </small>

                  <small
                    *ngIf="registroGraduadoFrom.get('email').touched && registroGraduadoFrom.get('email').hasError('pattern')"
                    class="form-text text-danger">{{error.message.EMAIL_VALIDO}}
                  </small>

                </div>
                <div class="form-group">
                  <label for="celular" class="lead">Celular<span class="text-danger">*</span></label>
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    id="celular"
                    formControlName="celular">
                  <small
                    *ngIf="registroGraduadoFrom.get('celular').touched && registroGraduadoFrom.get('celular').hasError('required')"
                    class="form-text text-danger">{{error.message.CAMPO_REQUERIDO}}
                  </small>
                  <small
                    *ngIf="registroGraduadoFrom.get('celular').touched && registroGraduadoFrom.get('celular').hasError('pattern')"
                    class="form-text text-danger">{{error.message.SOLO_NUMEROS}}
                  </small>
                  <small
                    *ngIf="registroGraduadoFrom.get('celular').touched && registroGraduadoFrom.get('celular').hasError('minlength')"
                    class="form-text text-danger">{{error.message.TAMA_MINIMO}}7
                  </small>
                </div>
                <div class="form-group">
                  <label for="contraseña"  class="lead" >Contraseña<span class="text-danger">*</span></label>
                  <input
                    type="password"
                    class="form-control form-control-lg"
                    id="contraseña"
                    formControlName="pass">
                  <small
                    *ngIf="registroGraduadoFrom.get('pass').touched && registroGraduadoFrom.get('pass').hasError('required')"
                    class="form-text text-danger">{{error.message.CAMPO_REQUERIDO}}
                  </small>
                </div>
                <div class="form-group">
                  <label for="confcontraseña" class="lead">Confirmar Contraseña<span class="text-danger">*</span></label>
                  <input
                    type="password"
                    class="form-control form-control-lg"
                    id="confcontraseña"
                    formControlName="pass2">
                  <small
                    *ngIf="registroGraduadoFrom.get('pass2').touched && registroGraduadoFrom.get('pass2').hasError('required')"
                    class="form-text text-danger">{{error.message.CAMPO_REQUERIDO}}
                  </small>
                  <small
                    *ngIf="registroGraduadoFrom.get('pass2').touched && registroGraduadoFrom.get('pass2').hasError('noEsIgual')"
                    class="form-text text-danger">{{error.message.PASSWORD_NO_ES_IGUAL}}
                  </small>

                </div>

                <div class="form-group" >
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="exampleCheck1"
                      formControlName="terminos"
                    >
                    <label class="form-check-label" for="exampleCheck1">Acepto terminos y condiciones</label>
                    <small
                      *ngIf="!registroGraduadoFrom.get('terminos').value && formSumited"
                      class="form-text text-danger">{{error.message.ACCEPTAR_TERMINOS}}
                    </small>
                  </div>

                </div>
                <div *ngIf="vieneEmpresa" class="d-grid gap-12">
                  <button (click)="atras()"  type="submit" class="btn btn-lg btn-block">Volver</button>
                </div>
                <div class="d-grid gap-2">
                  <button [disabled]="!registroGraduadoFrom.valid" type="submit" class="btn btn-danger btn-lg btn-block">Enviar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
