<div id="login" class="bg-image shadow-2-strong">
  <div class="mask d-flex align-items-center h-100" style=" background-image: url(src/assets/img/login-register.jpg); margin-top: 60px;">
    <div class="container">
      <div class="row justify-content-center align-items-center minh-100">
    <div class="col-md-6 col-sm-4 col-xs-5">
      <img id="logo-header" class="img-fluid" src="../../../assets/img/logo%20horizontal.png"/>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <div class="row ">
        <div class="col-md-7">
          <div class="card-block">
            <p class="card-text">
              ¿Quienes Somos?
            </p>
            <h1 class="card-title text-center">GRADULAB</h1>
            <p class="card-text">
              The Carousel code can be replaced with an img src, no problem. The added CSS brings shadow to the card and
              some adjustments to the prev/next buttons and the indicators is rounded now. As in Bootstrap 3
            </p>
            <p class="card-text">Made for usage, commonly searched for. Fork, like and use it. Just move the carousel
              div above the col containing the text for left alignment of images</p>
          </div>
        </div>
        <!-- Carousel start -->
        <div class="col-md-5">
          <div id="CarouselTest" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#CarouselTest" data-slide-to="0" class="active"></li>
              <li data-target="#CarouselTest" data-slide-to="1"></li>
              <li data-target="#CarouselTest" data-slide-to="2"></li>

            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block" src="https://picsum.photos/450/300?image=1072" alt="">
              </div>
              <div class="carousel-item">
                <img class="d-block" src="https://picsum.photos/450/300?image=855" alt="">
              </div>
              <div class="carousel-item">
                <img class="d-block" src="https://picsum.photos/450/300?image=355" alt="">
              </div>
              <a class="carousel-control-prev" href="#CarouselTest" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#CarouselTest" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
        <!-- End of carousel -->
      </div>
    </div>
    <!-- End of card -->
  </div>
  </div>
</div>
  <div class="row mx-auto justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Noticias Recientes</h2>
          <span class="date text-black-50">April 14, 2016</span>
          <p class="card-text">Mejores Saber Pro</p><br>
          <span class="date  text-black-50">April 14, 2016</span>
          <p class="card-text">Oferta de posgrado</p><br>
          <span class="date  text-black-50">April 14, 2016</span>
          <p class="card-text ">Cafetic para toda la comunidad educativa</p>
          <a href="#" class="ufps-btn ufps-btn-light float-right">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Proximos eventos</h2>
          <span class="date text-black-50">April 14, 2016 Horario 7:30 am - 10:30 am</span>
          <p class="card-text">Mejores Saber Pro</p><br>
          <span class="date text-black-50">April 14, 2016 Horario 6:00 pm - 8:00 pm</span>
          <p class="card-text">Oferta de posgrado</p><br>
          <span class="date text-black-50">April 14, 2016 Horario 6:00 pm - 8:00 pm</span>
          <p class="card-text">Cafetic para toda la comunidad educativa</p>
          <a href="#" class="ufps-btn ufps-btn-light float-right">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</div>
