<div class="tab-pane  p-20" id="listaroferta" role="tabpanel">
  <div class="col-md-12">
    <select class="form-control custom-select col-md-10" style="font-size: 14px"
      data-placeholder="Choose a Category" tabindex="1">
      <option value="r">Mas Reciente</option>
      <option value="b">Sueldo mas Bajo</option>
      <option value="a">Sueldo mas Alto</option>
    </select>

    <button data-toggle="modal" class="ufps-btn ufps-btn-light col-md-1">Filtrar</button>

    <div class="col-md-12 p-20">
      <ul class="list-unstyled">
        <li class="media">
          <div class="media-body">
            <div class="d-flex flex-row comment-row">
              <div class="comment-text w-100">
                <div class="comment-footer">
                  <span class="date">
                    <h3>Ingeniero de Sistemas</h3>
                  </span>
                  <h5>Ceiba Software</h5>
                </div>
                <h5>
                  <p class="m-b-5 m-t-10">Lorem Ipsum is simply dummy text of the printing and type setting
                    industry. Lorem Ipsum has beenorem Ipsum is simply dummy text of the printing and type
                    setting
                    industry. </p>
                </h5>
              </div>
            </div>
            <div class="form-actions float-right">

              <button data-toggle="modal" data-target="#editar-ofer-modal"
                class="ufps-btn ufps-btn-green">Editar</button>
              <button data-toggle="modal" data-target="#cerrar-ofer-modal"
                class="ufps-btn ufps-btn-light">Cerrar</button>
              <button data-toggle="modal" data-target="#eliminar-ofer-modal"
                class="ufps-btn text-white">Eliminar</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="modal fade" id="editar-ofer-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Editar Oferta Laboral</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <form action="#">
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <form>
                    <div class="form-body">
                      <div class="row p-t-20">
                        <div class="col-md-12">
                          <div class="form-group row">
                            <label class="control-label text-left col-md-3">
                              <h5>Nombre Oferta:</h5>
                            </label>
                            <div class="col-md-9">
                              <input type="text" id="editnombreofe" class="form-control"
                                placeholder="Ingeniero de Sistemas">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group row">
                            <label class="control-label text-left col-md-3">
                              <h5>Empresa:</h5>
                            </label>
                            <div class="col-md-9">
                              <input type="text" id="editnombreemp" class="form-control" placeholder="Ceiba Software">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group row">
                            <label class="control-label text-left col-md-3">
                              <h5>Descripción:</h5>
                            </label>
                            <div class="col-md-9">
                              <textarea class="form-control" rows="5"></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group row">
                            <label class="control-label text-left col-md-3">
                              <h5>Requisitos:</h5>
                            </label>
                            <div class="col-md-9">
                              <textarea class="form-control" rows="4"></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group row">
                            <label class="control-label text-left col-md-3">
                              <h5>Ubicación:</h5>
                            </label>
                            <div class="col-md-9">
                              <input type="text" id="editubicacion" class="form-control" placeholder="Bogota, Colombia">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="ufps-btn" data-dismiss="modal">Cancelar</button>
        <button type="button" class="ufps-btn ufps-btn-green waves-effect waves-light">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade bs-example-modal-sm" id="cerrar-ofer-modal" tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="mySmallModalLabe">Cerrar la Oferta Laboral</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body"> Esta seguro de cerrar la oferta laboral</div>
      <div class="modal-footer">
        <button type="button" class="ufps-btn" data-dismiss="modal">Cancelar</button>
        <button type="button" class="ufps-btn ufps-btn-green waves-effect waves-light">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade bs-example-modal-sm" id="eliminar-ofer-modal" tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="mySmallModalLabel">Eliminar Oferta Laboral</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body"> Esta seguro de eliminar la oferta laboral</div>
      <div class="modal-footer">
        <button type="button" class="ufps-btn" data-dismiss="modal">Cancelar</button>
        <button type="button" class="ufps-btn ufps-btn-green waves-effect waves-light">Aceptar</button>
      </div>
    </div>
  </div>
</div>
