<div class="tab-pane active " role="tabpanel">
  <div class="p-20">
    <div class="row">
      <div class="col-md-12 p-20">
        <ul *ngFor="let graduado of lista" class="list-unstyled">
          <li class="media">
            <div class="media-body">
              <div class="d-flex flex-row comment-row">
                <div>
                  <h2> {{graduado.nombre}} {{graduado.apellidos}}</h2>
                  <h2> {{graduado.correoPersonal}} </h2>
                </div>
              </div>
              <div class="form-actions float-right">
                <button class="ufps-btn">Rechazar</button>
                <button class="ufps-btn ufps-btn-green ">Aceptar</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
