<div class="tab-pane  p-20" id="cargainfo" role="tabpanel">
  <div class="col-md-12">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="formEnviar">
              <div class="form-body">
                <h3 class="card-title">Cargar Lista de Graduados</h3>
                <hr>
                <div class="row p-t-20">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <div class="col-md-9">
                        <input type="file" class="form-control" id="exampleInputFile"
                               aria-describedby="fileHelp" formControlName="archivo">
                        <br>
                        <div class="col-md-4">
                          <div class="form-group">
                            <div class="form-check">
                              <label class="custom-control custom-radio">
                                <input id="radio1" name="radio" type="radio" checked
                                       class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><h5>Proximos a Graduarse</h5></span>
                              </label>
                              <label class="custom-control custom-radio">
                                <input id="radio2" name="radio" type="radio" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"><h5>Graduados</h5></span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-actions col-md-3">
                        <button type="submit" (click)="put()" class="ufps-btn ufps-btn-green float-right"><i
                          class="fa fa-check" ></i>
                          Cargar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
