<div class="tab-pane  p-20" id="infograduado" role="tabpanel">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-10">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar por nombre">
        </div>
      </div>
      <div class="col-md-2">
        <a href="#" class="ufps-btn ufps-btn-green">Buscar</a>
      </div>
    </div>
    <div class="col-md-12 p-20">
      <ul class="list-unstyled">
        <li class="media">
          <div class="media-body">
            <div class="d-flex flex-row comment-row">
              <div class="comment-text w-100">
                <div class="comment-footer">
                  <h2>Yisel Pineda Suescun</h2>
                </div>
                <h5 class="m-b-5 m-t-10">Email: Yiselpinedasuecun@gmail.com</h5>
                <h5>Revisar que mas información se va a gregar acá</h5>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
