<div class="tab-pane active" id="home2" role="tabpanel">
  <div class="p-20">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <form>
              <div class="form-body">
                <h3 class="card-title">Noticia o Evento</h3>
                <hr>
                <div class="row p-t-20">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="control-label text-left col-md-2"><h5>Título:</h5></label>
                      <div class="col-md-10">
                        <input type="text" id="titulo" class="form-control" placeholder="Cafetic">
                      </div>
                    </div>
                  </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="control-label text-left col-md-2"><h5>Descripción:</h5></label>
                    <div class="col-md-10">
                      <textarea class="form-control" rows="5"></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="control-label text-left col-md-2"><h5>Imagen: </h5></label>
                    <div class="col-md-10">
                      <input type="file" class="form-control" id="exampleInputFile" aria-describedby="fileHelp">
                    </div>
                  </div>
                </div>
                </div>
                <!--/row-->
                <div class="row">
                  <div class="col-md-5">
                    <div class="form-group">
                      <h5><label class="control-label">Categoría: </label></h5>
                      <select class="form-control custom-select" style="font-size: 12px"
                              data-placeholder="Choose a Category"
                              tabindex="1">
                        <option value="noticia"><h5>Noticia</h5></option>
                        <option value="evento"><h5>Evento</h5></option>
                      </select>
                    </div>
                  </div>
                  <!--/span-->
                  <div class="col-md-2">
                    <div class="form-group">
                      <h5><label class="control-label">Tipo:</label></h5>
                      <div class="form-check">
                        <label class="custom-control custom-radio">
                          <input id="radio1" name="radio" type="radio" checked class="custom-control-input">
                          <h5><span class="custom-control-indicator"></span></h5>
                          <h5><span class="custom-control-description">Principal</span></h5>
                        </label>
                        <label class="custom-control custom-radio">
                          <input id="radio2" name="radio" type="radio" class="custom-control-input">
                          <span class="custom-control-indicator"></span>
                          <h5><span class="custom-control-description">Secundaria</span></h5>
                        </label>
                      </div>
                    </div>
                  </div>
                  <!--/span-->
                  <div class="col-md-5">
                    <div class="form-group">
                      <h5><label class="control-label">Fecha: </label></h5>
                      <input type="date" class="form-control" placeholder="dd/mm/yyyy">
                    </div>
                  </div>
                  <!--/span-->
                </div>
                </div>

              <div class="form-actions">
                <button type="submit" class="ufps-btn ufps-btn-green float-right"><i class="fa fa-check"></i>
                  Publicar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
