<div class="tab-pane " id="solofertaempre" role="tabpanel">
  <div class="p-20">
    <div class="row">
      <div class="col-md-12 p-20">
        <ul class="list-unstyled">
          <li class="media">
            <div class="media-body">
              <div class="d-flex flex-row comment-row">
                <div class="comment-text w-100">
                  <div class="comment-footer">
                    <h1>Ingeniero de sistemas .NET</h1>
                  </div>
                  <h5>
                    <p class="m-b-5 m-t-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque velit
                      alias obcaecati suscipit optio,
                      id numq Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque velit alias obcaecati
                      suscipit optio, id numq </p>
                  </h5>
                </div>
              </div>
              <div class="form-actions float-right">
                <button data-toggle="modal" data-target="#editar-modal" class="ufps-btn">Rechazar</button>
                <button data-toggle="modal" data-target="#editar-modal"
                  class="ufps-btn ufps-btn-green waves-effect waves-light">Aceptar</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editar-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Enviar Notificación</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formEnviar">
          <div class="row p-t-20">
            <div class="col-md-12">
              <div class="form-group">
                <label class="lead">Asunto:</label>
                <input type="text" placeholder="Escriba su asunto" class="form-control form-control-lg" id="asnt"
                  formControlName="asunto">
              </div>
              <div class="form-group">
                <label class="lead">Mensaje:</label>
                <textarea class="form-control" rows="5" formControlName="mensaje"></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="ufps-btn" data-dismiss="modal" (click)="reset()">No Enviar</button>
                <button type="button" class="ufps-btn ufps-btn-green waves-effect waves-light"
                  (click)="put()">Enviar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
