<div id="loaderDiv" class="preloader">
  <div class="loader">
    <ngx-spinner class="loader__figure"
                 name="sp2">
      <p class="loader__label">GRADULAB</p>
    </ngx-spinner>
  </div>
</div>
S
