<div class="tab-pane active" id="crearoferta" role="tabpanel">
  <div class="p-20">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="formEnviar">
              <div class="form-body">
                <div class="row p-t-20">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="control-label text-left col-md-2">
                        <h5>Nombre Oferta:</h5>
                      </label>
                      <div class="col-md-10">
                        <input type="text" id="nombreofe" class="form-control"
                          placeholder="Ingeniero de Sistemas" formControlName="nombre">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="control-label text-left col-md-2">
                        <h5>Empresa:</h5>
                      </label>
                      <div class="col-md-10">
                        <input type="text" id="nombreemp" class="form-control" placeholder="Ceiba Software" formControlName="empresa">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="control-label text-left col-md-2">
                        <h5>Descripción:</h5>
                      </label>
                      <div class="col-md-10">
                        <textarea class="form-control" rows="5" formControlName="descripcion"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="control-label text-left col-md-2">
                        <h5>Requisitos:</h5>
                      </label>
                      <div class="col-md-10">
                        <textarea class="form-control" rows="4" formControlName="requisitos"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="control-label text-left col-md-2">
                        <h5>Ubicación:</h5>
                      </label>
                      <div class="col-md-10">
                        <input type="text" id="ubicacion" class="form-control" placeholder="Bogota, Colombia" formControlName="ubicacion">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-actions">
                <button type="submit" class="ufps-btn ufps-btn-green float-right" (click)="postOfertas()"><i class="fa fa-check"></i>
                  Guardar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
