<div id="login" class="bg-image shadow-2-strong">
  <div class="mask d-flex align-items-center h-100" >
    <div class="container">
      <div class="row justify-content-center align-items-center minh-100">
        <div class="col-md-4 ufps-center-block">
          <div class="card">
            <div class="card-header ufps-text-center bg-danger">
              <h1 class="text-white"> Recuperar Usuario </h1>
            </div>
            <div class="card-body">
              <form class="form p-t-20">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" [(ngModel)]="persona.documento" name="cedula" class="form-control" id="cedula" placeholder="Cedula" required
                           data-validation-required-message="This field is required">
                    <div class="input-group-addon"><i class="ti-user"></i></div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" [(ngModel)]="persona.nombre" name="nombre" class="form-control" id="Nombre Completo" placeholder="Nombre" required
                           data-validation-required-message="This field is required">
                    <div class="input-group-addon"><i class="ti-info"></i></div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" [(ngModel)]="persona.correoPersonal" name="correo" class="form-control" id="correo" placeholder="Correo" required
                           data-validation-required-message="This field is required">
                    <div class="input-group-addon"><i class="ti-email"></i></div>
                  </div>
                </div>
                <div class="text-left" >
                  <button (click)="solicitarCambio()" type="submit" class="ufps-btn ufps-btn btn-block">Enviar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>



