<div class="tab-pane  p-20" id="notificaciones" role="tabpanel">
  <div class="col-md-12">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="formEnviar">
              <div class="form-body">
                <h3 class="card-title">Enviar Notificaciones Masivas</h3>
                <hr>
                <div class="row p-t-20">
                  <div class="col-md-12">
                      <div class="form-group row">
                        <label class="control-label text-left col-md-2"><h5>Asunto:</h5></label>
                        <div class="col-md-10">
                          <input type="text" id="asunto" class="form-control" placeholder="Escriba su asunto"
                          required data-validation-required-message="This field is required" formControlName="asunto">
                        </div>
                    </div>
                  </div>
                    <div class="col-md-12">
                      <div class="form-group row">
                        <label class="control-label text-left col-md-2"><h5>Mensaje:</h5></label>
                        <div class="col-md-10">
                          <textarea class="form-control" placeholder="Escriba su mensaje"  formControlName="mensaje" rows="5"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="form-group row float-right">
                  <button type="button" class="ufps-btn" data-dismiss="modal" (click)="reset()">Cancelar</button>
                  <button type="button" class="ufps-btn ufps-btn-green" (click)="put()">Enviar</button>
                </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
