<div class="card">
  <div class="card-body p-b-0">
    <div class="form-body">
      <h2 class="card-title">Encuestas</h2>
      <div class="form-actions">
        <button data-toggle="modal" data-target="#editar-modal" class="ufps-btn ufps-btn-green float-right">
          Agregar Encuestas
        </button>
      </div>
      <hr class="m-t-0 m-b-30">
      <br>
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table color-table muted-table">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Título</th>
                  <th>Descripción</th>
                  <th>Estado</th>
                  <th>Fecha Inicio</th>
                  <th>Fecha Final</th>
                  <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>1</td>
                  <td>Nigam</td>
                  <td>Eichmann</td>
                  <td>@Sonu</td>
                  <td>Nigam</td>
                  <td>Eichmann</td>
                  <td>
                    <div class="dropdown">
                      <button class="ufps-btn ufps-btn-green dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Acciones
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" s>
                        <a class="dropdown-item lead" href="#">Modificar</a>
                        <a class="dropdown-item lead" href="#">Eliminar</a>
                        <a class="dropdown-item lead" href="#">Publicar</a>
                        <a class="dropdown-item lead" href="#">Finalizar</a>
                        <a class="dropdown-item lead" href="#">Vista Previa</a>
                        <a class="dropdown-item lead" href="#">Resultados</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Nigam</td>
                  <td>Eichmann</td>
                  <td>@Sonu</td>
                  <td>Nigam</td>
                  <td>Eichmann</td>
                  <td>
                    <div class="dropdown">
                      <button class="ufps-btn ufps-btn-green  dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Acciones
                      </button>
                      <div class="dropdown-menu " aria-labelledby="dropdownMenuButton" s>
                        <a class="dropdown-item lead" href="#">Modificar</a>
                        <a class="dropdown-item lead" href="#">Eliminar</a>
                        <a class="dropdown-item lead" href="#">Publicar</a>
                        <a class="dropdown-item lead" href="#">Finalizar</a>
                        <a class="dropdown-item lead" href="#">Vista Previa</a>
                        <a class="dropdown-item lead " href="#">Resultados</a>
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editar-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Agregar Encuesta</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <form action="#">
          <div class="form-group">
            <label class="control-label">Título:</label>
            <input type="text" id="edit-titulo" class="form-control" placeholder="Encuesta de satisfacción">
          </div>
          <div class="form-group">
            <label>Descripción:</label>
            <textarea class="form-control" rows="5"></textarea>
          </div>
          <div class="form-group">
            <label class="control-label">Fecha Fin</label>
            <input type="date" class="form-control" placeholder="dd/mm/yyyy">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="ufps-btn" data-dismiss="modal">Cancelar</button>
        <button type="button" class="ufps-btn ufps-btn-green waves-effect waves-light">Aceptar</button>
      </div>
    </div>
  </div>
</div>

