<div class="col-md-12">
  <div class="card">
    <div class="card-body p-b-0">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs customtab" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" routerLink="crear-oferta" role="tab"><span
          class="hidden-sm-up"><i class="ti-home"></i></span> <span
          class="hidden-xs-down"><h3>Crear Oferta Laboral</h3></span></a>
        </li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab"  routerLink="editar-oferta" role="tab"><span
          class="hidden-sm-up"><i class="ti-user"></i></span> <span
          class="hidden-xs-down"><h3>Listar Ofertas Laborales</h3></span></a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
