<div class="col-md-12">
  <div class="card">
    <div class="card-body p-b-0">
      <ul class="nav nav-tabs customtab" role="tablist">
        <li class="nav-item" ><a class="nav-link active" data-toggle="tab" routerLink="/graduados" routerLink="registro" role="tab"><span
          class="hidden-sm-up"><i class="ti-home"></i></span> <span
          class="hidden-xs-down"><h3>Solicitud de registro</h3></span></a>
        </li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab"  routerLink="./cargar-informacion" role="tab"><span
          class="hidden-sm-up"><i class="ti-user"></i></span> <span
          class="hidden-xs-down"><h3>Cargar información</h3></span></a>
        </li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" routerLink="./informacion-graduado" role="tab"><span
          class="hidden-sm-up"><i class="ti-user"></i></span> <span
          class="hidden-xs-down"><h3>Información del graduado</h3></span></a>
        </li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" routerLink="./notificacion" role="tab"><span
          class="hidden-sm-up"><i class="ti-user"></i></span> <span
          class="hidden-xs-down"><h3>Enviar Notificaciones</h3></span></a>
        </li>
      </ul>
      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
     </div>
  </div>
</div>
