<div class="tab-pane  p-20" id="profile2" role="tabpanel">
  <div class="row">
    <div class="col-md-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar por nombre">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <input type="date" class="form-control" placeholder="dd/mm/yyyy">
      </div>
    </div>
    <div class="col-md-2">
      <a href="#" class="ufps-btn ufps-btn-green">Buscar</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 p-20">
      <ul class="list-unstyled">
        <li class="media">
          <img class="d-flex mr-3" src="../../../../assets/img/users/3.jpg" width="60" alt="Generic placeholder image">
          <div class="media-body">
            <div class="d-flex flex-row comment-row">
              <div class="comment-text w-100">
                <h4>James Anderson<h5 class="float-right">Noticia</h5></h4>

                <div class="comment-footer">
                  <h5><span class="date">April 14, 2016</span></h5>
                </div>
                <h5><p class="m-b-5 m-t-10">Lorem Ipsum is simply dummy text of the printing and type setting
                  industry. Lorem Ipsum has beenorem Ipsum is simply dummy text of the printing and type setting
                  industry.</p></h5>
              </div>
            </div>
            <div class="float-right">
              <a data-toggle="modal" data-target="#editar-modal" class="ufps-btn ufps-btn-light">Editar</a>
              <a data-toggle="modal" data-target="#eliminar-modal" class="ufps-btn text-white">Eliminar</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="ufps-pagination">
    <a href="#" class="ufps-btn ufps-btn-light">Anterior</a>
    <a href="#" class="ufps-btn ufps-btn-light">1</a>
    <a href="#" class="ufps-btn ufps-btn-light">2</a>
    <a href="#" class="ufps-btn ufps-btn-light">3</a>
    <a href="#" class="ufps-btn ufps-btn-light">Siguiente</a>
  </div>
</div>
<div class="modal fade" id="editar-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Editar Publicación</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <form action="#">
          <div class="row p-t-20">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Título:</label>
                <input type="text" id="edit-titulo" class="form-control" placeholder="Cafetic">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Descripción:</label>
            <textarea class="form-control" rows="5"></textarea>
          </div>
          <fieldset class="form-group">
            <label>Imagen:</label>
            <label class="custom-file d-block">
              <input type="file" id="files" class="custom-file-input">
              <span class="custom-file-control"></span>
            </label>
          </fieldset>
          <!--/row-->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Categoría</label>
                <select class="form-control custom-select" style="font-size: 14px" data-placeholder="Choose a Category"
                        tabindex="1">
                  <option value="edit-noticia">Noticia</option>
                  <option value="edit-evento">Evento</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Fecha</label>
                <input type="date" class="form-control" placeholder="dd/mm/yyyy">
              </div>
            </div>
            <!--/span-->
          </div>
          <div class="row">
            <!--/span-->
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Tipo</label>
                <div class="form-check">
                  <label class="custom-control custom-radio">
                    <input id="edit-radio1" name="radio" type="radio" checked class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Principal</span>
                  </label>
                  <label class="custom-control custom-radio">
                    <input id="edit-radio2" name="radio" type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Secundaria</span>
                  </label>
                </div>
              </div>
            </div>
            <!--/span-->
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="ufps-btn" data-dismiss="modal">Cancelar</button>
        <button type="button" class="ufps-btn ufps-btn-green waves-effect waves-light">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade bs-example-modal-sm" id="eliminar-modal" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="mySmallModalLabel">Eliminar Publicación</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body"> Esta seguro de eliminar la publicación</div>
      <div class="modal-footer">
        <button type="button" class="ufps-btn" data-dismiss="modal">Cancelar</button>
        <button type="button" class="ufps-btn ufps-btn-green waves-effect waves-light">Aceptar</button>
      </div>
    </div>
  </div>
</div>
