<div class="col-md-12">
  <div class="card">
    <div class="card-body p-b-0">
      <ul class="nav nav-tabs customtab" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" routerLink="/empresas" routerLink="solicitud-registro" role="tab"><span
          class="hidden-sm-up"><i class="ti-home"></i></span> <span
          class="hidden-xs-down"><h3>Solicitud de registro</h3></span></a>
        </li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" routerLink="./solicitar-publicar" role="tab"><span
          class="hidden-sm-up"><i class="ti-user"></i></span> <span
          class="hidden-xs-down"><h3>Solcitar Publicar Oferta Laboral</h3></span></a>
        </li>
      </ul>
      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
